In [2]:
# calculate the median of the points column from the dataset frame
import pandas as pd
#TODO: load dataset
df_wine = pd.read_csv('../data/winemag-data-130k-v2.csv')
#TODO: save in variable called: median_points= 
median_points = df_wine.points.median()

median_points

88.0

In [12]:
#TODO: find which countries are represented in the dataset
# store values in: countries =

countries = df_wine.country.unique()

countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [13]:
#TODO: find how often each country appears in the set
# store values in: reviews_per_country =

review_per_country = df_wine.country.value_counts()
review_per_country

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Czech Republic               12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
Slovakia                      1
China                         1
Egypt                         1
Name: count, dtype: int64

In [16]:
#TODO: Create a variable called: centered_price
# that contains the price column with the mean price subtracted
centered_price = df_wine.price-df_wine.points.mean()

centered_price

0               NaN
1        -73.447138
2        -74.447138
3        -75.447138
4        -23.447138
            ...
129966   -60.447138
129967   -13.447138
129968   -58.447138
129969   -56.447138
129970   -67.447138
Name: price, Length: 129971, dtype: float64

In [19]:
#TODO: find the bargain wine
# create a variable called: bargain_wine with the title of the hightest point-per-price ratio

bargain_wine = df_wine.loc[(df_wine.points/df_wine.price).idxmax(),'title']
bargain_wine

'Bandit NV Merlot (California)'

In [25]:
#TODO: create  a series called: descriptor_counts
# count how many time each of the words: 'fruity' and 'tropical' appear in the description column

tropical = df_wine.description.map(lambda desc:'tropical' in desc).sum()
fruity = df_wine.description.map(lambda desc:'fruity' in desc).sum()
#count them and return them series
descriptor_counts = pd.Series([tropical,fruity], index=['tropical','fruity'])

descriptor_counts

tropical    3607
fruity      9090
dtype: int64

In [27]:
#TODO: create a series call: star_rating
# with the number of stars corresponding to each review in the set
# Rating system ranges from 80-100 points
# a score of 95 or high = 3 star
# a score of at least 85 but less than 95=2 star
# any other score is 1 star

def stars(row):
    if row.points>=95:
        return 3
    elif row.points >=85:
        return 2
    else:
        return 1
star_rating = df_wine.apply(stars,axis='columns')

star_rating.value_counts()

2    115125
1     12430
3      2416
Name: count, dtype: int64